@font-face {
    font-family: 'amblelight';
    src: url('fonts/Amble-Light-webfont.eot');
    src: url('fonts/Amble-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amble-Light-webfont.woff2') format('woff2'),
         url('fonts/Amble-Light-webfont.woff') format('woff'),
         url('fonts/Amble-Light-webfont.ttf') format('truetype'),
         url('fonts/Amble-Light-webfont.svg#amblelight') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1
{
	color: #090b4a;
	text-align: center;
	;
}
h2
{
	color:#090b4a;
	
}	
h3
{
	color: #51617a;
	font-family: amblelight, verdana, no-serif;
	}
em, strong
{
	color: black;
}
a{
	color:blue;
}
a:hover
{
	font-size: 1.05em

	}

html{
background:url("images/fond.jpg") fixed no-repeat right;

}	

footer h3{
	float:right;

}

.photo_identite
{
	float: right;
	border-radius: 20px;
	opacity: 0.8;
}
.competences
{
	text-align: justify;
}


.experience:hover 
{border: 2px #090b4a solid;
 border-radius: 20px;
 box-shadow:6px 6px 0px green;
	

	}
.competence:hover 
{border: 2px #090b4a solid;
 border-radius: 20px;
 box-shadow:6px 6px 0px black;
	

	}
.formation:hover 
{border: 2px #090b4a solid;
 border-radius: 20px;
 box-shadow:6px 6px 0px black;
	

	}

.experience:hover 
{border: 2px #090b4a solid;
 border-radius: 20px;
 box-shadow:6px 6px 0px black;
}	

	

.dark
{filter: invert(1);

}
button 
{color: black;
	font-family: amblelight, verdana, no-serif;
	font-weight: bolder;
	border-radius: 4px;
	box-shadow: 5px 2px 2px black;
	background-color: RGB(194, 194, 194);


}